---
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreviewReact from '../components/BlogPostPreviewReact.tsx';
import Footer from '../components/pages/main/Footer.astro'

const l = console.log
const title = 'LeeKB 블로그'
const description = ''
const permalink = 'https://blog.devkr.info/'
const allPosts = Astro.fetchContent('./posts/*.md')
                        // .filter(p => /[가-힣]/.test(p.title))
                        .sort((a, b) => new Date(b.publishDate).getTime() - new Date(a.publishDate).getTime())            
---
<html lang="ko">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="/index.css" />
    <!-- <link rel="stylesheet" href="/blog.css" /> -->
  </head>
  <body>
      <div class='wrapper'>
          <img loading="lazy" id='logo' src="/icon_blog.png" height="150px" />
          {allPosts.map(p => <BlogPostPreviewReact client:load title={p.title} url={p.url} publishDate={p.publishDate}  />)}
          <Footer/>
      </div>
  </body>
</html>